/* Styling for gallery.html */
/* © 2015 G Ravi Teja */

body
{
	background-image: url('../images/bg-5.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

img
{
	opacity: 0.6;
}

img:hover
{
	opacity: 1.0;
}

h3
{
	font-family: KleinSlabserif;
	font-size: 200%;
}

h1
{
	font-size: 400%;
	font-family: Great Vibes;
	color: white;
}

h1:hover
{
	font-size: 390%;
	font-family: Great Vibes;
	color: grey;
}

a
{
	text-decoration: none;
	color: red;
}

a:hover
{
	color: black;
}